<!DOCTYPE html>
<html>
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="viewport" content="width=device-width" />
	<script src="js/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/prefixfree.min.js"></script>
	<script src="script.js"></script>
	<link rel=stylesheet type="text/css" href="style/basis.css">
</head>
<body  ng-app="InterBlu" >

	
	
	<div  ng-controller="MainController" id="MainController">
	<button class="blockS darkColor red vbox" ng-click="SetProfile('ble_profiles/prof1.json')" >Set Profile</button>
	<div
	ng-repeat="BlutoothDev in BlutoothDevs" class="blockS fade-animation" ng-click="SelectABlutoothDev(BlutoothDev)"> {{BlutoothDev}}</div> 

	
	<button class="blockS darkColor width4 deepred  vbox"  ng-click="SendMsg2BT2('b5f90124','Speed1')" > </button>
	<button class="blockS darkColor width4 red  vbox"  ng-click="SendMsg2BT2('b5f900a3','Speed3')" > </button>
	<button class="blockS darkColor width2 green  vbox"  ng-click="SendMsg2BT2('b5f900a5','Speed5')" > </button>
	<button class="blockS darkColor width2 blue  vbox" ng-click="SendMsg2BT2('b5f900a7','Speed7')" > </button>

	
	<div class="blockS darkColor vbox width8">RECV data</div><input type="search" style="text-align:left;" name="FirstName" class="blockS input width4" ng-model="RECVFilter">
	<pre class="blockS textarea borderbox"  style="height:300px;" placeholder="RECV data">{{BTRECVData}}</pre>


</body>
</html>
